
.icon-phone:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-cog:before { content: '\e802'; } /* '' */
.icon-plus:before { content: '\e803'; } /* '' */
.icon-cancel:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e808'; } /* '' */