.weekday-picker {
    display: flex;
    justify-content: stretch;
    margin-top: 15px;
}

.weekday-picker input[type="radio"] {
    display: none;
}

.weekday-picker label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid silver;
    float: left;
    background-color: gainsboro;
    min-width: 14.2%;
}

.weekday-picker label:hover {
    background-color: #CCCCFF;
}

.weekday-picker input[type="radio"]:checked + label{
background-color: #9999FF;
}
