.content-wrapper{
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #FFFAFA;
}

@media screen and (max-width: 800px) {
    .content-wrapper {
        flex-direction: column;
    }
}